header {
    color: white;
    text-align: center;
}

body {
    background-color: pink;
    color: white;
}

img {
    width: 25%;
}

.gospelPrincipals{
    color: black;
}

.background {
    background-color: pink;
}