@font-face {
    font-family: StarJedi;
    src: url(Starjedi.ttf);
  }
  
  @font-face {
    font-family: StarJediSub;
    src: url(Starjout.ttf)
  }
  
  @font-face {
    font-family: StarTitleTop;
    src: url(Stjldbl1.ttf);
  }
  
  @font-face {
    font-family: StarTitleBottom;
    src: url(Stjldbl2.ttf);
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400&display=swap');

.content {
    background-color: black;
    font-family: "Montserrat", Arial, sans-serif;
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color:black;
    display: grid;
    grid-template-columns: 150px auto;
    max-height: 20vh;
}

.logo {
    width: 100%;
    margin-left: 10px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

hr {
    height: 5px;
    background: #4CC705;
    border: none;
    border-radius: 2.5px;
    box-shadow: 0 0 10px #4CC705; /* Adding a glow effect with box-shadow */
    margin: 10px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 4fr;
    max-height: 20vh;
}

nav a {
    text-align: center;
    color:#48BFD9;
    text-decoration:none;
    padding-top: 10px;
    margin: 60px 0px 5px 0px;
    vertical-align: bottom;
    border-bottom: 2px solid #48BFD9;
    font-family: StarJedi, Arial, sans-serif;
}

nav a:hover {
    color:#FCDA00;
    border-bottom: 2px solid #FCDA00;
}

#tierlist-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tierlist {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
}